<!DOCTYPE html>
<html>
<head>
    <script type="text/javascript" src="/$jquery_js_url"></script>
    <script type="text/javascript" src="/$sparklines_js_url"></script>

    <style>
        .link-style{
            padding:2px 4px 2px 4px;background: #424242; border: 2px solid #dcdcdc;font-family: arial;text-decoration: none;font-weight: normal;color:white;
        }
        .build-history{
            padding:2px 4px 2px 4px;background: #dcdcdc; border: 2px solid #dcdcdc;font-family: arial;font-style: italic;color:#424242;text-align: center;
        }
    </style>

    <script type="text/javascript">
        $(function () {

            $("#passfail").sparkline([$pass_fail], {
         			    type: 'pie',
         			    width: '50',
         			    height: '50',
         			    sliceColors: ['#3ADF00','#FE2E64','#FAAC58','#109618','#66aa00','#dd4477','#0099c6','#990099 '],
         			    borderWidth: 5,
         			    borderColor: '#e5e5e5'});

        });
    </script>

</head>
<body>

<p>

</p>

<table>
    <tr>
        <td>
            <a class="link-style" href="$buildUrl">$jobName</a>
            <div class="build-history">build history</div>
        </td>
        <td> <span id="passfail"></span></td>
    </tr>
</table>


</body>
</html>